<div class="itiran">

  <div class="itiran1">

    <div class="itiran-h">
      <h3>投稿一覧</h3>
    </div>


    <div class="itiran-link">
      <%= link_to "新規投稿へ", new_okara_path %>
      <%= link_to "検索ページへ", okaras_kensaku_path %>
    </div>


    <div class="itiran-toukou">
      <% @okaras.each do |t| %>

        <div class="itiran-nakami">
          <%= image_tag t.image_url, size: "250" if t.image? %><br>
          <div class="itiran-title">        
            <%= t.title %><br>
          </div>
          <%= t.gozen1 %> ・
          <%= t.gozen2 %> ・
          <%= t.gogo1 %> ・
          <%= t.gogo2 %> ・ 
          <%= t.yoru %> <br>
      
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= button_to okara_like_path(id: t.id, okara_id: t.id), method: :delete do %>
                    <i class="fa-regular fa-heart fa-2xl" style="color: #ca7a44;"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= button_to okara_likes_path(id: t.id, okara_id: t.id), method: :post do %>
                  <i class="fa-regular fa-heart fa-2xl" style="color: #ca7a44;"></i><%= t.likes.count %>
                <% end %>
            <% end %>
          <% else %>
            <i class="fa-regular fa-heart fa-2xl" style="color: #ca7a44;"></i><%= t.likes.count %>
          <% end %>
          <br>
  
          <div class="itiran-showsai">
            <%= link_to "詳細へ", okara_path(t.id) %>          
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>


<div class="ranking">
  <div class="ranking-h">
    <h3>ランキング</h3>
  </div>
    
  <div class="ranking-toukou">
    <% @rank_okaras.each do |t| %> 
        <div class="ranking-nakami">
          <%= image_tag t.image_url, size: "250x200" if t.image? %><br>
          <div class="ranking-title">
            <%= t.title %><br>
          </div>
          <%= t.gozen1 %> ・
          <%= t.gozen2 %> ・
          <%= t.gogo1 %> ・
          <%= t.gogo2 %> ・ 
          <%= t.yoru %> <br>
      
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= button_to okara_like_path(id: t.id, okara_id: t.id), method: :delete do %>
                    <i class="fa-regular fa-heart fa-2xl" style="color: #ca7a44;"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= button_to okara_likes_path(id: t.id, okara_id: t.id), method: :post do %>
                  <i class="fa-regular fa-heart fa-2xl" style="color: #ca7a44;"></i><%= t.likes.count %>
                <% end %>
            <% end %>
          <% else %>
            <i class="fa-regular fa-heart fa-2xl" style="color: #ca7a44;"></i><%= t.likes.count %>
          <% end %>
          <br>
  
          <div class="itiran-showsai">
            <%= link_to "詳細へ", okara_path(t.id) %>          
          </div>
        </div>
      

    <% end %>
  </div>
</div>