
<%= image_tag 'isu.jpg', class: 'hoge' %>


<div class="hako1">
    
    <div class="hako1-1">
    How to use
    </div>

    <div class="hako1-2">
    "Good schedule for good travel"
    </div>

    <div class="hako1-3">
    ストレスや失敗のないスケジュールを
    </div>

    <div class="hako1-4">
    2015年3月、北陸新幹線が開通<br> 
    石川県にはたくさんの旅行客が日々訪れます。<br> 
    観光都市として知られる石川県ですが、実際には「迷う観光客」が多くいます。 <br>
    交通ICカードの使えないバス、頻繁な雨、着物を着ての暑い寒い、<br>
    そして観光地の効率的な巡り方。<br> 
    これらの課題に直面することになるかもしれません。 <br>
    しかし、私たちの投稿型の旅スケジューリングサイトは、 あなたが行きたい場所を、迷わずに訪れる方法を提供します。 <br>
    他の旅行者の投稿を見て、 最適な時間帯やルートを見つけ、 ストレスと失敗から解放された旅行スケジュールを手に入れましょう。 <br>
    石川県の魅力的な観光地を、間違いのない方法で訪れ、 最高の旅行体験をしましょう。<br> 
    私たちのサイトが、あなたの石川県の旅を成功へと導きます。
    </div>

</div>

<div class="hako2">

    <div class="hako2tema">
        このサイトを「使う」
    </div>

    <div class="hako2ABC">
        <div class="hako2A">
            <div class="hako2AL">
                STEP 1 <br>
                <br>
                行きたいと思っている場所を「キーワード検索」<br> 
                そして、気になる投稿をクリック
            </div>
            
            <%= image_tag 'isu.jpg', class: 'hoge2' %>
            
        </div>

        <div class="hako2B">
            <div class="hako2BL">
                STEP 2 <br>
                <br>
                投稿では「回る順番」「時間帯」「交通手段」に注目！ <br>
                ＊このサイトは、スケジュール特化の投稿です 訪れるべき時間帯や効果的な周り順が、素敵な旅につながります
            </div>
            <%= image_tag 'isu.jpg', class: 'hoge2' %>
        </div>

        <div class="hako2C">
            <div class="hako2CL">
                STEP 3<br>
                <br>
                参考になった投稿には「いいね」評価を
            </div>
            <%= image_tag 'isu.jpg', class: 'hoge2' %>
        </div>

    </div>

    <h2 id="hako2botan"><%= link_to "使ってみる",:controller=>"okaras",:action=>"index" %></h2>

</div>


<div class="hako3">

    <div class="hako3tema">
        このサイトを「作る」
    </div>

    <div class="hako3ABC">
        <div class="hako3A">
            <%= image_tag 'isu.jpg', class: 'hoge2' %>
            <div class="hako3AR">
                STEP 1 <br>
                <br>
                行きたいと思っている場所を「キーワード検索」<br> 
                そして、気になる投稿をクリック
            </div>
        </div>

        <div class="hako3B">
            <%= image_tag 'isu.jpg', class: 'hoge2' %>
            <div class="hako3BR">
                STEP 2 <br>
                <br>
                投稿では「回る順番」「時間帯」「交通手段」に注目！ <br>
                ＊このサイトは、スケジュール特化の投稿です 訪れるべき時間帯や効果的な周り順が、素敵な旅につながります
            </div>
           
        </div>

        <div class="hako3C">
            <%= image_tag 'isu.jpg', class: 'hoge2' %>    
            <div class="hako3CR">
                STEP 3<br>
                <br>
                参考になった投稿には「いいね」評価を
            </div>
        </div>

    </div>

    <h2 id="hako3botan"><%= link_to "投稿する",:controller=>"okaras",:action=>"new" %></h2>

</div>