<div class="nakahako">
  <div class="signuph2">
     <h2>Sign up</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
        <div class="signupzenbu">

          <div class="Email">
            <%= f.label :Email,"Email" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
          </div>

          <div class="pass1">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="pass2">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          
          <div class="box-signup">
            <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
          </div>
          <% end %>
          <%= render "users/shared/links" %>
      

        </div>
</div>